#greeting-container {
    display: flex;
    flex-direction: row;
    height: 60px;
}

#greeting-container > * {
    background-color: var(--bs-dark);
    color: var(--bs-white);
    font-size: xx-large;
    height: 100%;
    border: 0;
    font-weight: normal;
    padding-right: 5px;
}

#greeting-container > select > option {
    font-size: medium;
}